:root {
  --primary: #f0f0f0;
  --title: #213435;
  --table-td-th: #dddddd
}

:root .dark {
  --primary: #232c35;
  --title: #fff;
  --table-td-th: #2B4865

}
* {
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(40,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.619999999999999'%3E%3Cpath transform='translate(-21 4.8) rotate(3 1409 581) scale(1.012)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.54' transform='translate(-12 12) rotate(3.6 800 450) scale(1.006)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(10.8 -36) rotate(36 401 736) scale(1.006)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.4'%3E%3Cpath transform='translate(72 -4.8) rotate(1.2 150 345) scale(0.988)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.08' transform='translate(-48 -30) rotate(43.2 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-72 24) rotate(7.2 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  transition: background 0.2s linear;
}
.checkbox{
  opacity: 0;
  position: absolute;
}
.labelMode{
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 20px;
  width: 43px;
  transform: scale(1.5);
}
.labelMode .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .labelMode .ball {
  transform: translateX(24px);
}
.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
main{
  padding: 50px;
  width: 80%;
}
.content-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content-link a {
  padding: 15px 35px;
  background-color: #3333FF;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.content-link a:hover{
  background-color: #2525f0;
}
.content-table{
  padding: 20px;
  border-collapse: 1px solid var(--primary);
  width: 100%;
  flex-wrap: wrap;
}
.content-table td, th {
  border: 1px solid var(--table-td-th);
  padding: 10px;
  height: 40px;
  align-items: center;
}
.content-table th{
  background-color: #213435;
  color: #fff;
  text-align: center;
}
.content-table tr{
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #EAEAEA;
}
td:nth-child(4){
  text-align: center;
}
td:nth-child(5){
  display: flex;
  gap: 10px;
  justify-content: center;
}
th:nth-child(1){
  width: 80px;
}
th:nth-child(4){
  width: 200px;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.botaoExcluir{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 22px;
}
.content-table a {
  border: none;
  cursor: pointer;
  color: #33adff;
  font-size: 22px;
}
/* i{
  font-size: 22px;
} */
